<nav class="main-nav headroom">
  <header class="container">
    <h1 class="brand">{{ site.author }}</h1>
  </header>
  <div class="container-nav">
    <div class="nav-menu">
      {% if page.url == "/about/" %}
        <div class="nav-menu-item">
          <a href="{{ site.baseurl }}writing">Writing </a>
        </div>
        <div class="nav-menu-item">
          <a href="{{ site.baseurl }}projects">Projects </a>
        </div>
        <div class="nav-menu-item">
          <a href="{{ site.baseurl }}resume">Resume </a>
        </div>
      {% else %}
        <div class="nav-menu-item">
          <a href="{{ site.baseurl }}">Home </a>
        </div>
        <div class="nav-menu-item">
          <a href="{{ site.baseurl }}about">About </a>
        </div>
        <div class="nav-menu-item">
          <a href="{{ site.baseurl }}projects">Projects </a>
        </div>
        <div class="nav-menu-item">
          <a href="{{ site.baseurl }}resume">Resume </a>
        </div>
      {% endif %}
      <a class="cta" href="{{ site.baseurl }}feed.xml">Subscribe</a>
    </nav>
  </div>
</nav>