<nav class="main-nav headroom">
  <header class="container">
    <h1 class="brand">{{ site.author }}</h1>
  </header>
  <div class="container-nav">
    <div class="nav-menu">
      {% if page.url != "/index.html" %}
          <a href="{{ site.baseurl }}"> <span class="arrow">←</span> Home </a>
      {% endif %}

      {% if page.url != "/about/" %}
          {% if site.aboutPage %}
              <div class="nav-menu-item">
                <a href="{{ site.baseurl }}">Writing </a>
              </div>
              <div class="nav-menu-item">
                <a href="{{ site.baseurl }}about">About </a>
              </div>
              <div class="nav-menu-item">
                <a href="{{ site.baseurl }}projects">Projects </a>
              </div>
              <div class="nav-menu-item">
                <a href="{{ site.baseurl }}resume">Resume </a>
              </div>
          {% endif %}
      {% endif %}
      <!-- <a class="cta" href="{{ site.baseurl }}feed.xml">Subscribe</a> -->
    </nav>
  </div>
</nav>