<ul id="post-list" class="project-list">
    {% for post in site.categories.writing %}
        <li>
            <a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}"><aside class="dates">{{ post.date | date:"%b %d" }}</aside></a>
            <a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}">{{ post.title }} <h2>{{ post.description }}</h2></a>
        </li>
    {% endfor %}
    <h2>In project list...</h2>
    {% for post in site.posts %}
        <p>{{ post.title }}</p>
    {% endfor %}
    {% for post in site.pages %}
        <p>{{ post.title }}</p>
    {% endfor %}
    {% for post in site.categories.writing %}
        <p>{{ post.title }}</p>
    {% endfor %}
</ul>

<!-- <ul id="post-list" class="project-list">
    {% for post in paginator.posts %}
        <li>
            <a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}"><aside class="dates">{{ post.date | date:"%b %d" }}</aside></a>
            <a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}">{{ post.title }} <h2>{{ post.description }}</h2></a>
        </li>
    {% endfor %}
</ul>
 -->
{% if paginator.previous_page or paginator.next_page %}
    {% include pagination.html %}
{% endif %}